@font-face {
    font-family: 'Lumberjack Regular';
    src: url('Lumberjack.eot');
    src: url('Lumberjack.eot?#iefix') format('embedded-opentype'),
    url('Lumberjack.woff') format('woff'),
    url('Lumberjack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'Lumberjack Inline Rough';
    src: url('LumberjackInlineRough.eot');
    src: url('LumberjackInlineRough.eot?#iefix') format('embedded-opentype'),
    url('LumberjackInlineRough.woff') format('woff'),
    url('LumberjackInlineRough.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Lumberjack Rough';
    src: url('LumberjackRough.eot');
    src: url('LumberjackRough.eot?#iefix') format('embedded-opentype'),
    url('LumberjackRough.woff') format('woff'),
    url('LumberjackRough.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }